$dark01: #212922;
$dark02: #294936;
$dark03: #3E6259;
$dark04: #5B8266;
$dark05: #AEF6C7;



.cabecalho{

    div{
        display: flex;
        justify-content: space-around;
        padding: 20px;
        background-color: $dark04;
    }

    section{
    background-image: url('https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1240w,f_auto,q_auto:best/newscms/2015_28/1109506/150707-claude-monet-water-lillies-jpo-641a.jpg');
   background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;

    .navegacao{
        background-color: red;
        width: 100%;
   
    }

    img{
        border-radius: 100%;
        width: 300px;
    }

    div{
        background-color: #ffffff90;
        width: 60%;
        padding: 10px;
        text-align: center;
        border-radius: 30px;
        

        p{
            color: $dark02;
            font-size: large;

            h2{
                color: whitesmoke;
            }
        }

        div{
            background-color: #ffffff10;
            margin: auto;
            display: flex;
            justify-content: space-around;

            
                
            }
        }
    }

}


@media (max-width:900px){



.cabecalho{

    div{
        display: flex;
        justify-content: space-around;
        padding: 20px;
        background-color: $dark04;
    }

    section{
        flex-direction: column;
        padding: 10px;

    .navegacao{
        background-color: red;
        width: 100%;
   
    }

    img{
        border-radius: 100%;
        width: 200px;
        padding: 10px;
    }

    div{
        background-color: $dark04;
        width: 90%;
        padding: 10px;
        text-align: center;
        



    
        }
    }

}





















}
