$dark01: #212922;
$dark02: #294936;
$dark03: #3E6259;
$dark04: #5B8266;
$dark05: #AEF6C7;

.botao{
    padding: 20px;
    width: 200px;
    border-radius: 20px;
    border: none;
    color: $dark01;
    background-color: $dark01;
    box-shadow: 2px 2px 4px #0000009F ;
    cursor: pointer;
    color: whitesmoke;
    margin: 10px;
   

   &:hover{
    background-color: $dark03;
    border-radius: 5px;
    transition: 0.3s;
    scale: 1.05;
   }

    &:active {
        background-color: $dark05;
        box-shadow: 2px 2px 4px #0000009F inset;
        border-radius: 5px;

      }
    }

